<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(ViewData["Title"] != null ? ViewData["Title"] + " - " : "")Phoasis</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/ASP_Ecommerce.styles.css" asp-append-version="true"/> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="rubik-strong-menu c-dark">
        <a class="nav-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2 class="rubik-mono-one-regular c-primary">Phoasis</h2></a>
        @* <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
        @*     aria-expanded="false" aria-label="Toggle navigation"> *@
        @*     <span class="navbar-toggler-icon"></span> *@
        @* </button> *@
        <ul class="nav-main">
            @* <li class="nav-item"> *@
            @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
            @* </li> *@
            <li class="">
                <a class="" asp-area="" asp-controller="Products" asp-action="Index">Official Products</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Products" asp-action="MaintainerProducts">Maintainer Products</a>
            </li>
            <li class="">
                <a class="" asp-area="" asp-controller="Maintainers" asp-action="Index">Maintainers</a>
            </li>
        </ul>
            
        <ul class="nav-user">
            <li>
                <img id="cartButton" src="~/icons/cart.svg" alt="cart" width="35" height="35" onclick="toggleCart()"/>
            </li>
            <partial name="_LoginPartial"/>
        </ul>
    </nav>
    <div id="shoppingCart" class="" style="display: none"></div>
</header>
<main role="main">
    @RenderBody()
</main>

<footer class="rubik-mono-one-regular">
    <a asp-area="" asp-controller="Home" asp-action="Privacy"><p>Privacy</p></a>
    @* &copy; 2024 - Phoasis *@
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
<script src="~/js/site.js" asp-append-version="true"></script>
<base href="~/" />
@* ReSharper disable once Html.PathError *@
<script src="_framework/blazor.server.js"></script> 
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>