@using Microsoft.AspNetCore.Identity
@using ASP_Ecommerce.Services
@using Microsoft.IdentityModel.Tokens
@inject SignInManager<UserModel> SignInManager
@inject ApplicationDbContext DbContext

@{
    UserModel? user = null;
    var isSignedIn = SignInManager.IsSignedIn(User);
    var profileIcon = "/icons/account-circle.svg";
    
    if (isSignedIn && User.Identity != null)
    {
        user = DbContext.Users.FirstOrDefault(u => u.UserName == User.Identity!.Name);

        if (user != null && !user.ProfilePictureUrl.IsNullOrEmpty())
        {
            profileIcon = user.ProfilePictureUrl;
        }
    }
}

@if (isSignedIn)
{
    <li>
        <img id="profile-icon" src="@profileIcon" alt="account" width="35" height="35" class="border-radius-50" onclick="toggleUserDropdown()" />
    </li>
    <li>
        <a class="clickable" id="user-name" onclick="toggleUserDropdown()">@(User.Identity?.Name!)</a>
        <div id="user-dropdown" style="display: none;">
            <ul>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>    
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Email">Email</a>    
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">Personal Data</a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Password</a>
                </li>
                <li>
                    <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logoutButton" type="submit" class="btn btn-small">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </li>
}
else
{
    <li class="">
        <a class="btn btn-primary btn-small" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="">
        <a class="btn btn-primary-light btn-small" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}