@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h2 class="rubik-mono-one-regular">@ViewData["Title"]</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="email-form" method="post">
    <div asp-validation-summary="All" class="c-primary" role="alert"></div>
    @if (Model.IsEmailConfirmed)
    {
        <div>
            <label asp-for="Email" class="rubik-strong-menu">Current email</label><br/>
            <input asp-for="Email" class="rubik-strong-menu" placeholder="No email set." disabled />
                @* <div class="input-group-append"> *@
                @*     <span class="h-100 input-group-text text-success font-weight-bold">✓</span> *@
                @* </div> *@
        </div>
    }
    else
    {
        <div>
            <input asp-for="Email" class="rubik-strong-menu" placeholder="Please enter your email." disabled /><br/>
            <label asp-for="Email" class="rubik-strong-menu"></label>
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
        </div>
    }
    <div>
        <span asp-validation-for="Input.NewEmail" class="c-primary"></span><br/>
        <label asp-for="Input.NewEmail" class="rubik-strong-menu">New email</label><br/>
        <input asp-for="Input.NewEmail" class="rubik-strong-menu" value="" aria-required="true" placeholder="New email" />
    </div>
    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change email</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
