@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
}

<div class="login-section">
    <div class="login-side">
        <h1>@ViewData["Title"]</h1>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="c-primary" role="alert"></div>
            <div>
                <span asp-validation-for="Input.Email" class="c-primary"></span>
                <input asp-for="Input.Email" class="rubik-strong-menu" autocomplete="email" aria-required="true" placeholder="Email" />
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
