@model ASP_Ecommerce.Models.ViewModels.ProductsViewModel
@using ASP_Ecommerce.Components
@using ASP_Ecommerce.Models.Enums
@{
    ViewBag.Title = "Official Products";
    Layout = "_Layout";
}

<div class="top-banner">
    <h1 class="rubik-black-italic c-light">FIND YOUR NEW PHONE</h1>
</div>

<div class="content">
    <component type="typeof(ProductList)" render-mode="Server"
               param-InitialData="@Model"
               param-ListType="@ProductListType.Official"/>
</div>
