@model ASP_Ecommerce.Models.ViewModels.ProductsViewModel
@using ASP_Ecommerce.Components
@using ASP_Ecommerce.Models.Enums
@{
    ViewBag.Title = "Official Products";
    Layout = "_Layout";
}

<h1>Find your new phone</h1>

<component type="typeof(ProductList)" render-mode="Server"
           param-InitialData="@Model"
           param-ListType="@ProductListType.Official"/>