@model ASP_Ecommerce.Models.ViewModels.ProductsViewModel
@using ASP_Ecommerce.Components
@using ASP_Ecommerce.Models.Enums

@{
    ViewBag.Title = "Maintainer Products";
    Layout = "_Layout";
}

<div class="top-banner top-banner-tertiary">
    <h1 class="rubik-black-italic c-light">SUPPORT YOUR LOCAL MAINTAINERS</h1>
</div>

<div class="content">
    <component type="typeof(ProductList)" render-mode="Server"
               param-InitialData="@Model"
               param-ListType="@ProductListType.Maintainer"/>
</div>
