@model ASP_Ecommerce.Models.ViewModels.ProductsViewModel
@using ASP_Ecommerce.Components
@using ASP_Ecommerce.Models.Enums

@{
    ViewBag.Title = "Maintainer Products";
    Layout = "_Layout";
}

<h1>Maintainer Products</h1>

<component type="typeof(ProductList)" render-mode="Server"
           param-InitialData="@Model"
           param-ListType="@ProductListType.Maintainer"/>
