@using ASP_Ecommerce.Components
@model ProductModel

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<div class="content">
    <component type="typeof(Product)" render-mode="Server" param-ProductData="@Model" />
</div>
